## output binaries
build/*

## Package Files
*.war
*.ear

# Intellij project files
# @see http://devnet.jetbrains.com/docs/DOC-1186
.idea/*.iws
.idea/workspace.xml
.idea/copyright/*
.idea/dictionaries/*
.idea/uiDesigner.xml
